<div class="page-wrapper">
    <div class="page-breadcrumb">
              <div class="container-fluid">
                <h3>Manage Offers</h3>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                              <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Offer Price</th>
                        <th scope="col">MRP</th>
                        <th scope="col">Remove</th>

                               
                            </tr>
                        </thead>
                        <tbody>
              {{#each offerShops}}
                     {{#each offers}}
                    <tr class="align-middle">
                        <th scope="row">{{incremented @index}}</th>
                        <td>{{this.name}}</td>
                         <td> <img src="/images/offer-images/{{this.img_id}}.png" height="50" width="50" /></td>
                        <td>{{this.price}}</td>
                        <td>{{this.mrp}}</td>
                        <td><a href="/admin/delete-offer/{{this._id}}/{{this.img_id}}" class="btn btn-danger" onclick="return confirm('Are You Sure to Delete {{this.Name}} ?')">Remove</a></td>
                    </tr>
                    {{/each}}
                    {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>