<section>
    <div class="container mt-2">
        <center>
            {{#if shopkeeper}}
            <h4>Hi {{shopDetails.name}}, Welcome</h4>
            {{/if}}
        </center>

        <div class="row mt-5">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <img src="{{shopDetails.logo}}" class="card-img-top" alt="Image 1">
                    {{!-- <div class="card-body">
                        <h5 class="card-title">{{shopDetails.name}}</h5>
                    </div> --}}
                </div>
            </div>
             <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{shopDetails.name}}</h5>
                        <h5 class="card-title" style="color: red;">{{shopDetails.floor}}</h5>
                        <hr>
                        <h5 class="card-title">Category : {{shopDetails.category}}</h5>
                        <h5 class="card-title">Phone : {{shopDetails.phone}}</h5>
                        <h5 class="card-title">Email Id : {{shopDetails.emailId}}</h5>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-2">
                <a href="/admin/add-shops" class="btn btn-success mb-2">Add a Product</a>
                <a href="/admin/delete-all-products" onclick="return confirm('Are You Sure to Delete All Products ?')"
                    class="btn btn-danger">Delete All Products</a>
            </div> --}}
            
        </div>
        <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0">offers</h1>
    <a href="/shop/delete-all-offers" onclick="return confirm('Are You Sure to Delete All Offers ?')" class="btn btn-danger">Delete All Offers</a>
    </div>

    
            {{#each shopDetails.offers}}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                <div class="card mx-auto" style="width: 16rem; ">
                    <img src="/images/offer-images/{{this.img_id}}.png" class="card-img-top" alt="phone-image"
                        style="height: 17rem;">
                    <hr class="text-secondary">
                    <div class="card-body pb-1">
                        <div class="" style="display: flex; justify-content: end;">
                            <div class="" style="margin-right: auto;">
                                <h6 class="card-title" style="color:orange;">{{this.offername}}</h6>
                                <b><h5 class="card-title">{{this.name}}</h5></b>
                            </div>
                            <div class="">
                                 <p class="card-text" style="color: red;"><small><s>₹{{this.mrp}}</s></small></p>
                                <p class="card-text" style="color: green;"><small>₹{{this.price}}</small></p>
                            </div>
                        </div>
                        <p class="card-text">{{this.description}}</p>
                        <div class="row">
                            <a href="/shop/delete-offer/{{this.img_id}}" onclick="return confirm('Are You Sure to Delete  Offer ?')" class="btn btn-danger mt-3">delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>