
<section>
    <div class="container mt-5">
        
             <h1>{{shopDetails.name}}</h1>
             <hr>
      
        <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <img src="{{shopDetails.logo}}" class="card-img-top" alt="Image 1">
                    {{!-- <div class="card-body">
                        <h5 class="card-title">{{shopDetails.name}}</h5>
                    </div> --}}
                </div>
            </div>
             <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{shopDetails.name}}</h5>
                        <h5 class="card-title" style="color: red;">{{shopDetails.floor}}</h5>
                        <hr>
                        <h5 class="card-title">Category : {{shopDetails.category}}</h5>
                        <h5 class="card-title">Phone : {{shopDetails.phone}}</h5>
                        <h5 class="card-title">Email Id : {{shopDetails.emailId}}</h5>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-2">
                <a href="/admin/add-shops" class="btn btn-success mb-2">Add a Product</a>
                <a href="/admin/delete-all-products" onclick="return confirm('Are You Sure to Delete All Products ?')"
                    class="btn btn-danger">Delete All Products</a>
            </div> --}}
            
        </div>
    </div>
</section>

<style>
       #header .logo {
    overflow: hidden;
    padding: 16px 30px 12px 30px;
    background: #009970;
    border-radius: 50px;
}
    #header .header-container {
    background: #ebebeb;
    border-radius: 50px;
}
</style>