<section>
    <div class="container mt-5">
        <form id="checkout-form">
            <div class="card p-4 shadow">
            <div class="row">
                <div class="col-md-8">
                    <h2>Enter details</h2><br>
                    <div>
                       
                        <label for="">Name</label>
                         <input type="text" name="name" value="{{user.Name}}" id="address" class="form-control" disabled><br>
                        <label for="">Address</label>
                        <input type="text" name="address" id="address" class="form-control" required><br>
                        <label for="">Mobile number</label>
                        <input type="text" name="mobile" id="mobile" class="form-control" required>
                        <input type="text" name="userId" value="{{user._id}}" hidden>
                         <input type="text" name="userName" value="{{user.Name}}" hidden>
                         <input type="hidden" name="product" value="{{product}}" hidden>
                          <input type="hidden" name="productId" value="{{offerId}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout p-3">
                        <h5 class="mt-4">Total amount: Rs. {{price}}</h5>
                        <h5 class="mt-4">Booking amount : Rs. 100</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            {{!-- <label class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" checked> COD
                            </label> --}}
                            <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE" required checked>   Online payment {{mobile}}
                            </label>
                            
                           <button class="btn btn-primary float-right mt-4 w-100" type="submit" id="checkout-button">Book Now</button>
                           
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </form>
    </div>
</section>
<style>
    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
    }

    .payment {
        padding-bottom: 30px;
    }
</style>

<script>

    $("#checkout-form").submit((e) => {
         e.preventDefault();
         // Prepare the form data
         var formData = {
            name: document.querySelector('input[name="name"]').value,
            address: document.querySelector('input[name="address"]').value,
            mobile: document.querySelector('input[name="mobile"]').value,
            userId: document.querySelector('input[name="userId"]').value,
            userName: document.querySelector('input[name="userName"]').value,
            product: document.querySelector('input[name="product"]').value,
            productId:document.querySelector('input[name="productId"]').value,
        };
    
       $.ajax({
             url: '/booknow',
            method: 'post',
            data: formData ,
            success: (response) => {
                console.log(response, "dd")
                alert(response)
                razorpayPayment(response)
                // (response.codSuccess) {
                //location.href = '/order-placed'
            }
        
          
        }) 
    })

 /* url: '/place-order',
            method: 'post',
            data: $("#checkout-form").serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-placed'
                } else {
                    razorpayPayment(response)
                }
            }*/
            
    function razorpayPayment(order) {
        console.log(order, "oooo")
        var options = {
            "key": "rzp_test_8NokNgt8cA3Hdv", // Enter the Key ID generated from the Dashboard
            "amount": 10000, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id,
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open()
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    addTocart(formData.productId)
                   setTimeout(()=>{
                    location.href = '/order-placed'
                   },5000)
                   // 
                } else{
                    alert("Payment failed")
                }
            }
        })
    }

     function addTocart(productId) {
        console.log(productId)

         $.ajax({
            url: "/add-to-cart/" + productId,
            method: "get",
            success: (response) => {
                if (response.status) {
                    let count = $("#cart-count").html();
                    count = parseInt(count) + 1;
                    $("#cart-count").html(count);
                }
            },
        });
    }
</script>