{{!-- s --}}
<!-- ======= Hero Section ======= -->
<br>
<style>
    .navbar .getstarted1,
    .navbar .getstarted1:focus {
        background: #009970;
        padding: 5px 25px;
        margin-left: 30px;
        margin-right: 15px;
        border-radius: 50px;
        color: #fff;
    }

    /* Add some basic styling for the filters and items */
    .filters {
        margin-bottom: 10px;
    }

    .search-bar {
        margin-top: -5px;
    }

    #header .logo {
        overflow: hidden;
        padding: 16px 30px 12px 30px;
        background: #009970;
        border-radius: 50px;
    }

    #header .header-container {
        background: #ffffff;
        border-radius: 21px;
    }

    .search-input {
        width: 400px;
        padding: 10px;
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        outline: none;
        font-size: 16px;
    }

    .search-button,
    .lucky-button {
        background-color: #4285f4;
        color: #fff;
        border: none;
        border-radius: 24px;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    /* Style for the fullscreen modal */
    .modal.fullscreen {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1;
        overflow: auto;
        padding: 20px;
    }

    .modal-content {
        background-color: white;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 5px;
        width: 90%;
        height: 90%;
        max-width: 800px;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    /* Additional styles to maintain scrollability within the modal content */
    .modal-content {
        max-height: calc(100% - 40px);
        overflow-y: auto;
    }

    /* Style for the search results */
    #searchResults {
        /* Add your custom styles for search results here */
    }

    .expandable-button {
        margin: 5px 0;
        padding: 5px 10px;
        border: none;
        background-color: #ffffff;
        color: #000;
        cursor: pointer;
        border-radius: 10px;
    }



    /* Custom styles for the FAB */
    .custom-fab {
        position: relative;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .custom-fab-button {
        margin: 10px 0;
        padding: 10px 15px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 20px;
    }

    .custom-fab-button:hover {
        background-color: #0056b3;
    }

    /* Custom styles for the expandable buttons */
    .expandable-buttons {
        display: none;
        flex-direction: column;
    }



    .expandable-button:hover {
        background-color: #999;
    }


    #sidebar {
        width: 20%;
        padding: 10px;
        margin: 0;
        float: left;
    }

    ul {
        list-style: none;
        padding: 5px;
    }

    li a {
        color: darkgray;
        text-decoration: none;
    }

    li a:hover {
        text-decoration: none;
        color: darksalmon;
    }

    .fa-circle {
        font-size: 20px;
    }

    #red {
        color: #e94545d7;
    }

    #teal {
        color: rgb(69, 129, 129);
    }

    #blue {
        color: #0000ff;
    }

    .filter {
        display: none;
        padding: 0;
        margin: 0;
    }

    @media(min-width:991px) {
        .navbar-nav {
            margin-left: 35%;
        }

        .nav-item {
            padding-left: 20px;
        }


        #mobile-filter {
            display: none;
        }
    }

    @media(min-width:768px) and (max-width:991px) {
        .navbar-nav {
            margin-left: 20%;
        }

        .nav-item {
            padding-left: 10px;
        }

        .card {
            width: 230px;
            display: inline-block;
            height: 300px;
            margin-bottom: 10px;
        }

        .card-img-top {
            width: 230px;
            height: 210px;
        }

        #mobile-filter {
            display: none;
        }
    }

    .portfolio #portfolio-flters li {
        cursor: pointer;
        display: block;
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        text-transform: none;
        margin-bottom: 20px;
        line-height: 1;
        color: #444444;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
        border-radius: 50px;
        font-family: "Poppins", sans-serif;
    }

    .search {
        background-color: #fff;
        padding: 4px;
        border-radius: 5px;
        margin: 108px;
        margin-top: -77px;
        margin-bottom: -3px;
    }

    .search-1 {
        position: relative;
        width: 100%
    }

    .search-1 input {
        height: 45px;
        border: none;
        width: 100%;
        padding-left: 34px;
        padding-right: 10px;
        border-right: 2px solid #eee
    }

    .search-1 input:focus {
        border-color: none;
        box-shadow: none;
        outline: none
    }

    .search-1 i {
        position: absolute;
        left: 5px;
        font-size: 24px;
        color: #eee
    }

    ::placeholder {
        color: #eee;
        opacity: 1
    }

    .search-2 {
        position: relative;
        width: 100%
    }

    .search-2 input {
        height: 45px;
        border: none;
        width: 100%;
        padding-left: 18px;
        padding-right: 100px
    }

    .search-2 input:focus {
        border-color: none;
        box-shadow: none;
        outline: none
    }

    .search-2 i {
        position: absolute;
        top: 12px;
        left: -10px;
        font-size: 24px;
        color: #eee
    }

    .search-2 button {
        position: absolute;
        right: 1px;
        top: 0px;
        border: none;
        height: 45px;
        background-color: red;
        color: #fff;
        width: 90px;
        border-radius: 4px
    }

    @media (max-width:800px) {
        .search-1 input {
            border-right: none;
            border-bottom: 1px solid #eee
        }

        .search-2 i {
            left: 4px
        }

        .search-2 input {
            padding-left: 34px
        }

        .search-2 button {
            height: 37px;
            top: 5px
        }
    }
</style>




<main id="main">










    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio mt-5">
        <div class="container">

            <div class="filter">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter"
                    aria-expanded="false" aria-controls="mobile-filter"><span class="fa fa-filter pl-1"></span></button>
            </div>
            <section style="background-color: #e8e8e8; border-radius:15px; padding:10px;" id="sidebar">

                <div>
                    <h6 class="p-1 border-bottom">Filter By</h6>
                    <div style="background-color: #ffffff; border-radius:15px; padding:10px;">
                        <p class="mb-2">Category</p>
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-fashion_and_accessories">Fashion And Accessories</li>
                            <li data-filter=".filter-electronics_home_appliances"> Electronics & Home Appliances</li>
                            <li data-filter=".filter-dining">Dining</li>
                            <li data-filter=".filter-books_gifts">Books & gifts</li>
                            <li data-filter=".filter-shoes bags">Shoes & Bags</li>
                            <li data-filter=".filter-entertainment">Entertainment</li>
                            <li data-filter=".filter-watches_optics">Watches & Optics</li>
                        </ul>
                    </div>

                </div>
                <div class="mt-3" style="background-color: #ffffff; border-radius:15px; padding:10px;">
                    <h6>Gender</h6>
                    <ul id="target-flters">
                        {{!-- <li data-filter="*" class="filter-active">All</li> --}}
                        <li data-filter=".filter-Men">Men</li>
                        <li data-filter=".filter-Women">Women</li>
                        <li data-filter=".filter-Kids">Kids</li>
                    </ul>
                </div>

                <div class="mt-3" style="background-color: #ffffff; border-radius:15px; padding:10px;">
                    <h6>Size</h6>
                    <ul id="size-flters">
                        <li data-filter=".filter-Small"> Small</li>
                        <li data-filter=".filter-Medium"> Medium</li>
                        <li data-filter=".filter-Large"> Large</li>
                        <li data-filter=".filter-Extra_Large"> Extra Large</li>
                    </ul>
                </div>

                <div class="mt-3" style="background-color: #ffffff; border-radius:15px; padding:10px;">
                    <h6>Color</h6>
                    <div class="filter-optionss">
                        <ul id="color-flters">
                            <li data-filter=".filter-Red">Red</li>
                            <li data-filter=".filter-Blue">Blue</li>
                            <li data-filter=".filter-Green">Green</li>
                            <li data-filter=".filter-Yellow">Yellow</li>
                            <li data-filter=".filter-Black">Black</li>
                            <li data-filter=".filter-White">White</li>
                            <li data-filter=".filter-Orange">Orange</li>
                            <li data-filter=".filter-Purple">Purple</li>
                            <li data-filter=".filter-Gray">Gray</li>
                            <li data-filter=".filter-Pink">Pink</li>
                            <li data-filter=".filter-Brown">Brown</li>
                        </ul>
                    </div>

                </div>
                {{!-- <button id="clearFilters" class="btn btn-primary clear-button expandable-button mt-3">Clear All
                    Filters</button> --}}

                <button id="refreshButton" class="btn btn-primary text-white mt-3">Clear All Filters</button>

            </section>


            <div class="row mb-3">
                <div class="search-bar">
                    <input type="text" id="searchtext" class="search-input" name="search" placeholder="Search....">
                    <input type="button" value="Search" id="search" class="search-button">
                </div>
            </div>
            <div class="row portfolio-container">
                {{#if offers.length}}
                {{#each offers}}
                <div class="col-md-3 col-lg-4 mb-4 portfolio-item item filter-{{replaceSpacesWithUnderscores (lookup ../byCat @index) }}
           {{#if this.target_audience}}filter-{{this.target_audience}}{{/if}} {{#if this.size}}filter-{{this.size}}{{/if}}
       {{#if this.color}}filter-{{this.color}}{{/if}}" data-id="{{this.img_id}}" data-by="{{lookup ../byName @index}}"
                    data-byId="{{lookup ../uniqueIds @index}}" data-byCat="{{lookup ../byCat @index}}" {{#if
                    this.target_audience}}data-target_audience="{{this.target_audience}}" {{/if}} {{#if
                    this.size}}data-size="{{this.size}}" {{/if}} {{#if this.color}}data-color="{{this.color}}" {{/if}}
                    {{#if this.brand}}data-brand="{{this.brand}}" {{/if}} {{#if this.type}}data-type="{{this.type}}"
                    {{/if}} {{#if this.foodCategories}}data-foodCategories="{{this.foodCategories}}" {{/if}} {{#if
                    this.quantity}}data-quantity="{{this.quantity}}" {{/if}}>

                    <div class="card p-wrap" style="border-radius: 15px;">
                        <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="/images/offer-images/{{this.img_id}}.png"
                                style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
                                alt="Laptop" />
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5><a href="#!" class="text-dark"><b>{{this.name}}</b></a></h5>
                                    {{!-- <p class="small text-muted">{{replaceSpacesWithUnderscores ...this.category}}
                                    </p> --}}
                                </div>
                                <div>
                                    <div class="d-flex flex-row justify-content-end mt-1 mb-1 text-danger">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <p class="small text-warning">Rated 4.0/5</p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <p><a href="#!" class="text-dark"><s>₹{{this.mrp}}</s></a></p>
                                <p class="text-warning"><b>{{calculatePercentage this.mrp this.price}} Offer</b></p>
                            </div>
                            <p style="font-size: 24px; margin-top:-20px;" class="small text-dark"><b>₹{{this.price}}</b>
                            </p>
                            <p>By : {{lookup ../byName @index}}</p>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                <a href="/shopOffersDetalis/{{lookup ../uniqueIds @index}}" type="button"
                                    class="btn btn-dark w-100">View Offer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="warning">
                    <p><a href="/offers" style="text-decoration: none; color: black;">No Offers today!!!</a></p>
                </div>
                {{/if}}

                {{!-- ////// --}}

            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <div class="section-title">
                        <h2>Contact</h2>
                        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.
                            Sit sint
                            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                            Quia fugiat
                            sit in iste officiis commodi quidem hic quas.</p>
                    </div>
                </div>

                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
                    <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" allowfullscreen></iframe>
                    <div class="info mt-4">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mt-4">
                            <div class="info">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="info w-100 mt-4">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>
                        </div>
                    </div>

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script>
    $(document).ready(function () {
        const searchtext = document.getElementById("searchtext");

        searchtext.addEventListener("input", function () {
            const searchText = searchtext.value;
            const newURL = `http://localhost:3000/offers`;
            // Update the browser's URL without actually loading a new page
            window.history.pushState(null, null, newURL);
            window.location.reload()
        });


        // Handle the "Clear All Filters" button click event
        $("#clearFilters").on("click", function () {
            // Clear all active states and hide filter options
            $(".expandable-button.filter-btn").removeClass("active");
            $(".filter-options").hide();

            // Clear any applied filters
            clearAllFilters();
        });

        // Function to clear all applied filters and show all portfolio items
        function clearAllFilters() {
            // Show all portfolio items
            $(".portfolio-item").show();
        }
    });
</script>

<!-- Include Materialize JavaScript (you can download it or link to a hosted version) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    // JavaScript to toggle the expandable buttons
    const toggleButton = document.getElementById('toggleExpandable');
    const expandableButtons = document.getElementById('expandableButtons');

    toggleButton.addEventListener('click', () => {
        expandableButtons.style.display = expandableButtons.style.display === 'none' ? 'flex' : 'none';
    });
</script>


<script>
    // Get a reference to the button element
    var refreshButton = document.getElementById("refreshButton");

    // Add a click event listener to the button
    refreshButton.addEventListener("click", function () {
        // Refresh the page when the button is clicked
        location.reload();
    });
</script>

















<script>
    function cardClick(shopId) {
        console.log(shopId)

        $.ajax({
            url: "/add-to-cart/" + productId,
            method: "get",
            success: (response) => {
                if (response.status) {
                    let count = $("#cart-count").html();
                    count = parseInt(count) + 1;
                    $("#cart-count").html(count);
                }
            },
        });
    }
</script>
<style>
    .no-underline {
        text-decoration: none;
        /* Remove underline */
        color: #333;
        /* Set the desired text color */
    }

    .price-container {
        display: flex;
        justify-content: space-between;
    }

    .mrp {
        color: red;
        float: left;
        /* Align MRP to the left */
    }

    .price {
        color: green;
        float: right;
        /* Align Price to the right */
    }

    .image-container {
        position: relative;
        /* Make the container a positioning context */
        display: inline-block;
        /* Ensure the container only takes up the space of the image */
    }

    .offer-badge {
        position: absolute;
        /* Position the badge absolutely within the container */
        top: 0;
        /* Position at the top */
        right: 0;
        /* Position at the right */
        background-color: #ff9900;
        /* Background color for the badge */
        color: white;
        /* Text color for the badge */
        padding: 4px 8px;
        /* Add padding for better appearance */
        border-radius: 0 0 0 10px;
        /* Rounded corner for the top-right corner */
    }

    .no-underline {
        text-decoration: none;
        /* Remove underline */
        color: #333;
        /* Set the desired text color */
    }
</style>